<!DOCTYPE html>
<html>
  <body>
    <ion-view title="NashvesTN">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header">
        <div class="row">
          <div class="col col-50"><img src="../img/dude.jpeg" class="padding"></div>
          <div class="col col-50">
            <div class="info padding">
              <h1 class="padding">Frank</h1>
              <div class="button button-balanced button-block">DONATE</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div on-slide-changed="slideHasChanged($index)" class="ion-slide-box">
            <div class="ion-slide">
              <h1>yo</h1>
            </div>
            <div class="ion-slide">
              <h1>ho</h1>
            </div>
            <div class="ion-slide">
              <h1>bucket of jo</h1>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>