<!DOCTYPE html>
<html>
  <body>
    <ion-view title="NashvesTN">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header">
        <div class="row">
          <div class="col col-50"><img src="{{donee.photo}}" class="padding"></div>
          <div class="col col-50">
            <div class="info padding">
              <h4 class="donee-name padding">{{donee.name}}</h4>
              <div ng-click="openDonate()" class="button button-balanced button-block">DONATE</div>
            </div>
          </div>
        </div>
        <div class="row">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slide-box">
            <ion-slide>
              <div class="slide padding">
                <h4 class="donee-name item item-divider">{{donee.name}}'s Story</h4>
                <p class="padding-top">{{donee.story}}</p>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <div class="list col">
                  <div class="item item-divider">Aspiration</div>
                  <div class="item">
                    <h5>{{donee.goal}}</h5>
                  </div>
                  <div class="item item-divider">Skills</div>
                  <div ng-repeat="skill in donee.skills" class="item col-50 skills">
                    <h6>{{skill}}</h6>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <div class="list col">
                  <div class="item item-divider">Updates</div>
                  <div ng-repeat="update in donee.updates" class="item">
                    <p>{{update.text}}</p>
                    <p class="item-note">{{update.timestamp | date: 'MMM y'}}</p>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>