<!DOCTYPE html>
<html>
  <body>
    <ion-view title="NashvesTN">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header">
        <h1>How to use this App</h1>
        <h2>Scan the barcode</h2>
        <!--qr image here--><img src="">
        <h2>or Browse the list of individuals</h2>
        <!--sample list item here in a card-->
        <h2>View the Needy Persons Profile</h2>
        <h2>Donate to the person in need</h2>
        <!--sample profile header here in card-->
        <h2>Keep up with your charitable deeds on your dashboard</h2>
        <!--link to dashboard-->
        <h3>Thanks!!</h3>
      </ion-content>
    </ion-view>
  </body>
</html>