<!DOCTYPE html>
<html>
  <body>
    <ion-view title="NashvesTN">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header tutorial">
        <h4 class="center blue-font">How do I use NashvesTN?</h4>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slide-box">
          <ion-slide>
            <div class="help padding">
              <div class="card steps padding">
                <h2>Step 1: Search for a person to help out.</h2>
                <h4>Do this by either browsing our list of donees,</h4>
                <!--dead links-->
                <p>Use this link from the Menu:</p>
                <ion-item class="item-icon-right">Find Someone to Help<i class="icon ion-arrow-graph-up-right"></i></ion-item>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="help padding">
              <div class="card steps padding">
                <!--dead links-->
                <h4>Or scanning the QR code code they provided you with.</h4>
                <p>Use this link from the Home Page:</p>
                <div class="button button button-balanced button-block">SCAN QR CODE</div><img src="../img/qrcode.png" alt="qrCode" class="fake-qr">
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="help padding">
              <div class="card steps padding">
                <h4>Step 2: Donate to the person in need.</h4>
                <p>Use the Donate button on their profile.</p>
                <!--sample profile header here in card-->
                <div class="row">
                  <div class="col col-50"><img src="../img/dude.jpeg" class="padding"></div>
                  <div class="col col-50">
                    <div class="info padding">
                      <h4 class="donee-name padding">Frankie</h4>
                      <div class="button button-balanced button-block">DONATE</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="help padding">
              <div class="card steps padding">
                <h4>Step 4: Spread the Word.</h4>
                <p>Tell your friends you helped someone out.</p>
                <div class="button button-positive button-outline button-block ion-social-facebook">&nbsp; Twitter</div>
                <div class="button button-positive button-outline button-block ion-social-twitter">&nbsp; Facebook</div>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="help padding">
              <div class="card steps padding">
                <h4>Step 5: Keep up with your charitable deeds on your dashboard.</h4>
                <div class="list col"></div>
                <div class="item item-divider">Donation History<a class="item">
                    <h3>Lou
                      <p class="amount item-note">$20.00</p>
                    </h3></a><a class="item">
                    <h3>Gloria
                      <p class="amount item-note">$20.00</p>
                    </h3></a></div>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="help padding">
              <div class="card steps padding">
                <div class="header"></div>
                <h4 class="blue-font">Thank you for choosing the NashvesTN!</h4>
                <h4>Be an Advocate.</h4>
                <ion-item nav-clear="" menu-close="" href="#/app/browse" class="item-icon-right">Search Homeless Individuals</ion-item>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </ion-content>
    </ion-view>
  </body>
</html>