<!DOCTYPE html>
<html> 
  <body>
    <ion-view title="NashvesTN">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header">
        <div class="row no-padding">
          <div class="col header">
            <div class="slogan">
              <h3>Connect.Involve.Invest.</h3>
              <h4 class="light">Help the Homeless</h4>
            </div>
          </div>
        </div>
        <div class="row no-padding">
          <button ng-click="scan()" class="button button-balanced button-block">SCAN QR CODE</button>
        </div>
        <div class="row">
          <div class="padding">
            <h3 class="blue-font">About</h3>
            <h4>NashvesTN helps non-profit organizations increase their community impact by engaging the Millennial Generation. </h4>
            <p>
              Our mobile app makes it easier for social advocates 
              to donate directly to homeless individuals in their community.  Through a participating 
              non-profit organization, homeless individuals can set up a profile to tell their story, 
              share their skills & aspirations, & provide updates to advocates.  
            </p>
            <p>
              Using a simple QR code 
              linked to their profile (put it on a sticker, badge, or business card!), homeless individuals 
              can share their profile with the community .  Advocates scan the QR code, which pulls up the 
              homeless individual's profile.  Within a few clicks, advocates can learn more about the individual 
              in need, make a donation, & save the profile their list.
            </p>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>