<!DOCTYPE html>
<html>
  <body>
    <div class="modal">
      <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
          <button ng-click="closeLogin()" class="button button-clear">Close</button>
        </div>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <div ng-click="authGoogle()" class="button button-balanced button-block">GOOGLE</div>
          <div ng-click="authFacebook()" class="button button-balanced button-block">FACEBOOK</div>
          <div ng-click="authTwitter()" class="button button-balanced button-block">TWITTER</div>
        </div>
      </ion-content>
    </div>
  </body>
</html>