<!DOCTYPE html>
<html>
  <body>
    <div class="modal">
      <ion-header-bar>
        <h1 class="title">THANKS!</h1>
        <div class="buttons">
          <button ng-click="closeThanks()" class="button button-clear">Close</button>
        </div>
      </ion-header-bar>
      <ion-content>
        <h1>Thanks for Being Awesome!</h1><br>
        <h3>Tell your friends they can be awesome too:</h3>
        <div ng-click="tellTwitter()" class="button button-balanced button-block">Twitter</div>
        <div ng-click="tellFacebook()" class="button button-balanced button-block">Facebook</div>
      </ion-content>
    </div>
  </body>
</html>