html
  body
    ion-view(title='NashvesTN')
      ion-nav-buttons(side='left')
        button.button.button-icon.icon.ion-navicon(menu-toggle='left')
      ion-content.has-header
        .row
          .graph
        .row
          .list.col
            .item.item-divider Donation History
            a.item(ng-repeat='d in donations')
              h4 {{d.date | date: 'dd MMM, y'}}
              h4 {{d.name}}
                p.amount.item-note ${{d.amount}}.00
            .button.button-block.button-outline.button-positive Save as PDF
