html
  body
    ion-view(title='NashvesTN')

      ion-nav-buttons(side='left')
        button.button.button-icon.icon.ion-navicon(menu-toggle='left')
      ion-content.has-header
        .row
          .col.col-50
            img.padding(src='{{donee.photo}}')
          .col.col-50
            .info.padding
              h4.donee-name.padding {{donee.name}}

              .button.button-balanced.button-block(ng-click='openDonate()') DONATE
              //- .button.button-balanced.button-block(ng-hide='android', ng-click='donate()') DONATE
              //- .button.button-balanced.button-block(ng-show='!android', ng-click='openDonate()') DONATE

        .row
          ion-slide-box.slide-box(on-slide-changed='slideHasChanged($index)')
            ion-slide
              .slide.padding
                h4.donee-name.item.item-divider {{donee.name}}'s Story
                p.padding-top {{donee.story}}
            ion-slide
              .slide
                .list.col
                  .item.item-divider Aspiration
                  .item
                    h5 {{donee.goal}}
                  .item.item-divider Skills
                  .item.col-50.skills(ng-repeat='skill in donee.skills')
                    h6 {{skill}}
            ion-slide
              .slide
                .list.col
                  .item.item-divider Updates
                  .item(ng-repeat='update in donee.updates')
                    p {{update.text}}
                    p.item-note {{update.timestamp | date: 'MMM y'}}
