html
  body
    ion-view(title='NashvesTN')
      ion-nav-buttons(side='left')
        button.button.button-icon.icon.ion-navicon(menu-toggle='left')
      ion-content.has-header
        ion-slide-box.slide-box(on-slide-changed='slideHasChanged($index)')
          ion-slide
            .help.padding
                h1 How to use this app
                .step1
                  h2 Scan the barcode
                  img(src='', alt='qrCode')
          ion-slide
            .help.padding
              h2 or Browse the list of individuals
              //sample list item here in a card
              h2 View the Needy Persons Profile
          ion-slide
            .help.padding
              h2 Donate to the person in need
              //sample profile header here in card
              h2 Keep up with your charitable deeds on your dashboard
              //link to dashboard
              h3 Thanks!!
              

        
          
