html
  body
    ion-view(title='NashvesTN')
      ion-nav-buttons(side='left')
        button.button.button-icon.icon.ion-navicon(menu-toggle='left')
      ion-content.has-header
        h1 How to use this App
        h2 Scan the barcode
        //qr image here
        img(src='')
        h2 or Browse the list of individuals
        //sample list item here in a card
        h2 View the Needy Persons Profile
        h2 Donate to the person in need
        //sample profile header here in card
        h2 Keep up with your charitable deeds on your dashboard
        //link to dashboard
        h3 Thanks!!
        

        
          
