html 
  body
    ion-view(title='NashvesTN')
      ion-nav-buttons(side='left')
        button.button.button-icon.icon.ion-navicon(menu-toggle='left')
      ion-content.has-header
        .row.no-padding
          .col.header
            .slogan
              h3 Connect.Involve.Invest.
              h4.light Help the Homeless
        .row.no-padding
          button.button.button-balanced.button-block(ng-click='scan()') SCAN QR CODE

        .row
          .padding
            h3.blue-font About
            h4 NashvesTN helps non-profit organizations increase their community impact by engaging the Millennial Generation. 
            p Our mobile app makes it easier for social advocates 
              | to donate directly to homeless individuals in their community.  Through a participating 
              | non-profit organization, homeless individuals can set up a profile to tell their story, 
              | share their skills & aspirations, & provide updates to advocates.  
            p Using a simple QR code 
              | linked to their profile (put it on a sticker, badge, or business card!), homeless individuals 
              | can share their profile with the community .  Advocates scan the QR code, which pulls up the 
              | homeless individual's profile.  Within a few clicks, advocates can learn more about the individual 
              | in need, make a donation, & save the profile their list.
