html 
  body
    ion-view(title='NashvesTN')
      ion-nav-buttons(side='left')
        button.button.button-icon.icon.ion-navicon(menu-toggle='left')
      ion-content.has-header
        .header.padding
          h3 Invest in People
          h4 Help the Homeless
          button.button.button-positive(ng-click='scan()') SCAN QR CODE
        .about.padding
          h3 About
          p Sharp conversation delightful excepteur tote bag in elit occaecat. 
          | Voluptate dolor sleepy consectetur. Exclusive efficient aute, tote bag 
          | consequat signature ea consectetur veniam in nulla cosy id. Proident 
          | boutique Nordic soft power esse, ex reprehenderit anim Winkreative.
