html
  body
    .modal
      ion-header-bar
        h1.title Login
        .buttons
          button.button.button-clear(ng-click='closeLogin()') Close
      ion-content
        .list
          .button.button-balanced.button-block(ng-click='authGoogle()') GOOGLE
          .button.button-balanced.button-block(ng-click='authFacebook()') FACEBOOK
          .button.button-balanced.button-block(ng-click='authTwitter()') TWITTER
