html
  body
    .modal
      ion-header-bar
        h1.title THANKS!
        .buttons
          button.button.button-clear(ng-click='closeThanks()') Close
      ion-content
        h1 Thanks for Being Awesome!
        br
        h3 Tell your friends they can be awesome too:
        
