/* Empty. Add your own CSS if you like */
.header {
  background-image: url('../img/skyline.png');
  text-align: center;
  background-color: #4a87ee;
  height: 160px;

}
.slogan > h2, h3 {
  color: #f8f8f8;
}
.slogan {
  margin-top: 80px;
}
.light {
  font-weight: lighter;
}
.thanks-light {
  font-weight: lighter;
  color: black;
}
.no-padding {
  padding: 0;
}
.logo {
  max-width: 180px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100px;
}
.info {
  text-align: center;
}
img {
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
}
.slide-box {
  width: 100%;
  height: 100%;
}
.slide {
  min-height: 200px;
  height: 100%;
  width: 100%;
}
.graph {
  height: 80px;
  background-image: url('../img/graph.png');
  width: 420px;
  background-repeat: no-repeat;
  margin: 20px auto;
}
.help {
  width: 100%;
}
.donee-name {
  color: #4a87ee;
  font-weight: lighter;
  text-align: center;
}
.skills {
  display: inline-block;
  width: 100%;
}
.blue-font {
  color: #4a87ee;
}
.tutorial {
  background-color: gainsboro;
}
.center {
  text-align: center;
}
.fake-qr {
  display: block;
  margin: 0 auto;
}
.slider-pager{
  position: absolute;
  bottom: 0;
}
.steps {
  height: 320px;
}
