/* Empty. Add your own CSS if you like */
.header {
  background-image: url('../img/skyline.png');
  text-align: center;

}
.header > h3, h4 {
  color: #f8f8f8;
}
.info {
  text-align: center;
}
img {
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
}
.slide-box {
  width: 100%;
}
.slide {
  min-height: 250px;
  height: 100%;
  width: 100%;
}
.graph {
  height: 150px;
}
.help {
  height: 500px;
  width: 100%;
}
.donee-name {
  color: black;
  font-weight: lighter;
  text-align: center;
}
.skills {
  display: inline-block;
  width: 100%;
}
