/* Empty. Add your own CSS if you like */
.header {
  background-color: darkgrey;
  text-align: center;

}
.header > h3, h4 {
  color: #f8f8f8;
}
.info {
  text-align: center;
}
img {
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
}
.slide-box {
  width: 100%;
}
.slide {
  height: 200px;
  width: 100%;
}
.graph {
  height: 150px;
}
